.jimu-widget-report-setting {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-size: 14px;
}

.jimu-widget-report-setting .separator{
  margin-top:20px;
}

.jimu-widget-report-setting .setting-table{
  width: 100%;
}

.jimu-widget-report-setting .setting-table > thead > tr > th,
.jimu-widget-report-setting .setting-table > tbody > tr > td{
  height:20px;
  line-height:20px;
  vertical-align:middle;
}

.jimu-widget-report-setting .setting-table > tbody > tr.example > td{
  height:20px;
  vertical-align:middle;
}

.jimu-widget-report-setting .input-table > tbody > tr > .first{
  width:auto;
  text-align: left;
  padding-right:15px;
  min-width: 100px;
}

.jimu-widget-report-setting .reportquality-table {
  padding-top:10px;
}

.jimu-widget-report-setting .reportquality-table > tbody > tr > .first{
  padding-top:10px;
  text-align: left;
  padding-right:15px;
  min-width: 50px;
}

.jimu-widget-report-setting .input-table > tbody > tr > .second{
  padding-top:10px;
  width:650px;
}

.jimu-widget-report-setting .add-selectLayer, .add-map{
  margin-bottom: 7px;
  cursor: pointer;
  display: inline-block;
}

.jimu-widget-report-setting .add-icon{
  background-image: url(images/add_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}

.jimu-widget-report-setting .add-label{
  font-size: 14px;
  color: #518dca;
  margin-left: 10px;
  /* line-height: 24px; */
  display: inline-block;
  height: 100%;
  text-decoration: underline;
}

 .claro .dijitDialogTitleBar {
 	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-style:Semibold;
    font-size: 14px;
    color: #596679;
 }

 .claro .dijitDialogPaneContent {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #596679;
 }

 .claro .dijitDialogPaneContent .add-opLayer{
      margin-bottom: 7px;
      cursor: pointer;
      display: inline-block;
}

 .claro .dijitDialogPaneContent .add-icon{
  background-image: url(images/add_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}

 .claro .dijitDialogPaneContent .add-label{
  font-size: 14px;
  color: #518dca;
  margin-left: 10px;
  /* line-height: 24px; */
  display: inline-block;
  height: 100%;
  text-decoration: underline;
}

 .claro .configOpLayersButtons {
  	 background-color: #FFFFFF;
  	 border-color: #FFFFFF;
 }
